*.cache
*.log
database.yml
app_config.yml
sunspot.yml
capybara.yml
*.pid
.DS_Store
*.tmproj
.idea/
*.sw?
coverage/
.bundle/
*.tmtags
*~
tmp/
db/schema.rb
tags
vendor/cache
public/system/
features_report.html
features/report/
solr/data/
TAGS
log
reports/
*.*#
*.patch
public/stylesheets/*.css
retry.txt
